    .bgimg-1, .bgimg-2, .bgimg-3 {
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

      }
      .bgimg-1 {
        background-image: url("images/image3.jpeg");
        opacity: 2;
        height: 100%;
        max-width: 100%;
        filter: blur(0px);
        -webkit-filter: blur(0px);
      }
      .first{
      	filter: !important blur(0px);
        -webkit-filter: !important blur(0px);
      }

      .caption {
        position: absolute;
        left: 0;
        top: 30%;
        width: 100%;
        text-align: center;
        vertical-align: text-bottom;
        opacity: 1.0;
        color: #000;
      }

      .caption span.border {
        color: #fff;
        padding: 18px;
        letter-spacing: 10px;
      }

      .full-width {
        max-width: 100%;
      }
      footer div {
        border-right: 0px;
        color: white;

      }

      footer div:last-child {
        border-right: 0px;
      }
     
      .iconlist{
          float: right;
      }
      nav div img{
        height: 50px;
      }
          div a{
      color: white;
    }
    .Recruiters{
        height: 75%;
    }
    
    .first .title-bar{
      background-color: transparent;
    }

    .first .menu-icon{
      background-color: transparent;
    }

    .first .top-bar{
     background-color: transparent; 
    }

    .first .top-bar-left{
     background-color: transparent; 
    }
    .first .dropdown{
     background-color: transparent; 
    }
    #topul{
      background-color: transparent;
    }
    #topli{

      color: #F0663B !important;
      font-size: 20px;
    }
    .headings{
      color: #F0663B; font-weight: bold; line-height: 35px;margin-bottom: 20px;text-align: center;
    }
    #subheading{
      line-height: 0px; font-weight: 550; font-size: 18px; color: #1A1919;
    }
    #linimg{
      padding-left: 400px;
    }
    .paras{
      color: #696969; text-align: justify;font-size: 16px; font-weight:500;
    }
    #bocks{
      align-content: center; padding-right: 0px;
    }
    .card-image{
      border-color: white;
    }
    .card-section h6{
      font-weight: 700;
    }
    .card-section p{
      font-weight: 500; font-size:15px;
    }
    .card-image img{
      border-radius: 70px;height: 150px;
    }
    .linesep{
      background-color:#CCC; height: 1px; border: 0;
    }