/*****************************88
About us
*****************/

.About-us {
    
    
    
}

.About-us .row.h2{
    align-content: center;
}

#content.row
{
    color: coral;
    background-color: bisque;
}