.heading{
	align-content: center;
}
#container {
  position: relative;
  width: 450px;
  margin: 0 auto;
}
#overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  color: rgba(130, 130, 130, 0.5);
  font-size: 50px;
  text-align: center;
  line-height: 100px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
.contact_pic{
	border-radius: 100%;
	height: 120px;
	width: 120px;
	border-color: #F0F0F0;
	align-self: center;
}
.con_head{
	font-size:16px;
	margin-bottom: 0px;
	font-weight: bold;
	padding-top: 10px;
	
}
.con_data{
	color:#acacac;
	
	align-content: center;
}

.mar-right{
	margin-right: 30px;
}
.members{
	border-radius: 100%;
	height: 120px;
	width: 120px;
	margin-left: 30px;
}
.box{
	position: relative;
	align-self: center;
	display: flex;
	justify-content: space-between;
 	flex-flow: row wrap;
  	align-items:center;
  	height:100%;
  	box-shadow: 1.5px 1.5px 8px #F0F0F0;
  	margin-bottom: 30px;
  	border-top: 0px;
  	border-right: 0px;
  	border-left: 0px;
  	border-bottom: 0px;
}
.box1{
	position: relative;
	align-self: center;
	display: flex;
	justify-content: space-between;
 	flex-flow: row wrap;
  	align-items:center;
  	height:100%;
  	box-shadow: 1.5px 1.5px 8px #F0F0F0;
  	border-right: 10px;
  	border-left: 10px;
}
.box2{
	position: relative;
	align-self: center;
	display: flex;
	justify-content: space-between;
 	flex-flow: row wrap;
  	align-items:center;
  	height:100%;
  	box-shadow: 1.5px 1.5px 8px #F0F0F0;
  	margin-bottom: 30px;
  	border-top: 0px;
  	border-right: 0px;
  	border-left: 0px;
  	border-bottom: 0px;
  	margin-left: 5em;
  	margin-right: 5em;
}
.rec_box{
	position: relative;
	align-self: center;
	justify-content: space-between;
	margin-left: 3em;
	height: 17em;
}

.email_link{
	color:#acacac;
}
.paras{
	color:#696969;
	align-content: center;
}
.rec_pic {
	border-radius: 100%;
	border-color: #F0F0F0;
	align-self: center;
	height:2.5em;
	position: relative;
}
.size{
	font-size: 13.5px;
}