.heading{
	align-content: center;
}
.contact_pic{
	border-radius: 100%;
	height: 120px;
	width: 120px;
	border-color: #F0F0F0;
	align-self: center;
}
.con_head{
	font-size:16px;
	margin-bottom: 0px;
	font-weight: bold;
	padding-top: 10px;
	
}
.con_data{
	color:#acacac;
	
	align-content: center;
}

.mar-right{
	margin-right: 30px;
}
.members{
	border-radius: 100%;
	height: 120px;
	width: 120px;
	margin-left: 30px;
}
.box{
	position: relative;
	align-self: center;
	display: flex;
	justify-content: space-between;
 	flex-flow: row wrap;
  	align-items:center;
  	height:100%;
  	box-shadow: 1.5px 1.5px 8px #F0F0F0;
  	margin-bottom: 30px;
  	border-top: 0px;
  	border-right: 0px;
  	border-left: 0px;
  	border-bottom: 0px;
}
.rec_box{
	position: relative;
	align-self: center;
	justify-content: space-between;
	margin-left: 3em;
	height: 17em;
}

.email_link{
	color:#acacac;
}
.paras{
	color:#696969;
}
.rec_pic {
	border-radius: 100%;
	border-color: #F0F0F0;
	align-self: center;
	height:2.5em;
	position: relative;
}
